/* -------------------------------- variables ------------------------------- */

:root{
    --main-font: 'Lato', sans-serif;
    --main-font-color-dark:#17202A;
    --main-font-color-light: #6FFFE9;
    --transparency-dark: rgba(0,0,0,.8);
    
}

/* --------------------------- main elements style -------------------------- */

html{
    color:var(--main-font-color-dark);
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 10px;
    /* optimised text rendering */
    text-rendering: optimizeLegibility;
    /* make scroll smoother for anchore links */
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    /* the container will be 1225px for very large displays and for displays under that the width will be 100%*/
    max-width: 122.5rem;
    /* center the conatiner in the middle */
    margin: 0 auto;
    padding: 0 2.4rem;
}

/* --------------------------------- header --------------------------------- */

header{
    width: 100%;
    /* stick the nav-menu on top and over the other elements */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}

.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    /* place the toggle icons top right*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    /* icon style */
    color: #fff;
    font-size: 2.2rem;
    cursor: pointer;
    /* bring the toggles in front of every other element */
    z-index: 1500;
}

.fa-times{
    display: none !important;
}

.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

nav::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--transparency-dark);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fas-times{
    display: block;
}

.open .fas-bars{
    display: none;
}

.open .nav-list{
    transform: translateY(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.logo img{
    max-width: 50px;
}